@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&family=Ribeye&family=Roboto:wght@400;500&display=swap');


body{
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.6;
   color: #000000;
}

//---------------comon--------------------------
.button{
   width: 187px;
   height: 59px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #C9453B;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 1.5;
   border-radius: 5px;
   z-index: 10;
   &:hover{
      background: #db5a50;
   }
   @media (max-width: 479px) {
      width: 120px;
      height: 43px;
      font-size: 14px;
   }
}

.title-body{
   display: flex;
   flex-direction: column;
   align-items: center;
   & .title-body__title{
      font-weight: 500;
      font-size: 43px;
      font-family: 'Gelasio', serif;
      line-height: 140%;
      padding-bottom: 20px;
   }
   & .title-body__text{
      opacity: 0.6;
      line-height: 160%;
      text-align: center;
      max-width: 656px;
      padding-bottom: 60px;
      @media (max-width: 560px) {
         padding-bottom: 30px;
      }
   }
}
//----------------------------------------------
.wrapper{
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   [class*='__container']{
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 15px;
   }
}
.header{
   position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #000;
}
.header__container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 130px;
}
.header__buttons{
   display: flex;
   gap: 15px;
   align-items: center;
}
//----------------burger------------------
.header__burger{
   display: block;
   position: relative;
   width: 30px;
   height: 20px;
   z-index: 3;
   & span {
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 9px;
    }
    &::before, &::after{
      content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    &.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
    &.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    &.active span {
      transform: scale(0);
    }
   @media (min-width: 768px) {
      display: none;
   }
}
.header__logo{
   z-index: 10;
}
.logo__text{
   font-family: 'Ribeye', cursive;
   font-size: 24px;
   line-height: 1.5;
   letter-spacing: 0.06em;
   color: #FFFFFF;
 
}
.header__menu{
   @media (max-width:768px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1d1c1c;
      overflow: auto;
      transition: all 0.3s ease 0s;
      &.active {
         top: 0;
       }
   }
}

.menu__list{
   display: flex;
   flex-wrap: wrap;
  gap: 30px;
   & .menu__link{
      font-weight: 500;
      line-height: 1.5;
      color: #FFFFFF;
      &:hover{
         color: #dbdbdb;
         text-decoration: underline;
      }
   }
   @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      padding-top: 120px;
   }
}

// --------------------main---------------
.main-screen{
   max-width: 1600px;
   height: 900px ;
   padding: 286px 0 244px 0;
   background: #000;
   @media (max-width: 479px) {
      padding: 135px 0 100px 0;
   }
 
   
}
.main-screen__title{
   padding-bottom: 30px;
   font-weight: 700;
   font-size: 65px;
   line-height: 120%;
   font-family: 'Gelasio', serif;
   max-width: 700px;
   color: #FFFFFF;
   @media (max-width: 479px) {
      font-size: 35px;
   }
}
.main-screen__text{
   max-width: 400px;
   padding-bottom: 40px;
   line-height: 160%;
   color: #FFFFFF;
   opacity: 0.6;
   @media (max-width: 479px) {
      padding-bottom:20px;
   }
}

//--------------------location-------------------
.location{
   padding: 140px 0 170px 0;
   @media (max-width: 560px) {
      padding: 30px 0 40px 0;
   }
}
.location__content{
   display: flex;
   gap: 30px;
   @media (max-width: 560px) {
      flex-direction: column;
   }
}
.content-location__body{
   display: flex;
   flex: 0 1 360px;
   flex-direction: column;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   text-align: center;
   & .content-location__img{
      max-width: 360px;
      @media (max-width: 560px) {
         order: 3;
         display: block;
         margin-left: auto;
         margin-right: auto;         
      }
      & img{
         width: 100%;
      }
   }
   & h3 {
      padding: 35px 0 10px 0;
      font-family: 'Gelasio', serif;
      font-size: 24px;
      line-height: 150%;
      @media (max-width: 560px) {
         padding: 20px 0;
         order: 1;
      }
   }
   & p{
      padding-bottom: 30px;
      @media (max-width: 560px) {
         padding-bottom: 0;
         order: 2;
      }
   }
   @media (max-width: 560px) {
      border: none;
   }
}